<ul class="menu">
  <li class="menu__item">
    <button mat-button class="menu__book-flights">Book flights</button>
  </li>
  <li class="menu__item">
    <app-set-date-format></app-set-date-format>
  </li>
  <li class="menu__item currency">
    <button mat-button [matMenuTriggerFor]="currency" class="currency__button">
      EUR
    </button>
    <mat-menu #currency="matMenu" class="currency-list mat-menu-autosize">
      <button mat-menu-item class="currency-list__item">EUR</button>
      <button mat-menu-item class="currency-list__item">USA</button>
      <button mat-menu-item class="currency-list__item">RUB</button>
      <button mat-menu-item class="currency-list__item">PLN</button>
    </mat-menu>
  </li>
  <li class="menu__item">
    <button mat-button class="menu__sign-in sign-in">
      <div class="sign-in__image"></div>
      <span class="sign-in__title">Sign in</span>
    </button>
  </li>
  <li class="menu__item">
    <button mat-button class="menu__cart"></button>
  </li>
</ul>
