<footer class="footer">
  <div class="wrapper">
    <div class="content-wrapper">
      <span class="footer__rights">© 2023, AIRWAY. All rights reserved.</span>
      <div class="footer__payment-methods">
        <span class="footer__payment-text">
          We accept these payment methods
        </span>
        <div class="footer__payment-icons">
          <img
            src="assets/footer/mastercard.svg"
            alt="master-card"
            class="footer__payment-icon"
          />
          <img
            src="assets/footer/amasonPay.svg"
            alt="amazon-pay"
            class="footer__payment-icon"
          />
          <img
            src="assets/footer/americanExpress.svg"
            alt="american-express"
            class="footer__payment-icon"
          />
          <img
            src="assets/footer/visa.svg"
            alt="visa"
            class="footer__payment-icon"
          />
        </div>
      </div>
    </div>
  </div>
</footer>
