@import '~normalize.css';

:root {
  --secondary-40: #d0d9df;
  --neutral-neutral-100: #fff;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  min-width: 320px;
  overflow-x: hidden;
}
